In [18]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

In [19]:
file = r"C:\Users\mehme\becode---\BECODE___PROJECTS\01.IMMOELIZA\02.Data_Analysis\final_dataset.csv"
df = pd.read_csv(file)

In [20]:
df.head()

,Url,BathroomCount,BedroomCount,ConstructionYear,Country,District,Fireplace,FloodingZone,Furnished,Garden,GardenArea,Kitchen,LivingArea,Locality,MonthlyCharges,NumberOfFacades,PEB,PostalCode,Price,PropertyId,Province,Region,RoomCount,ShowerCount,StateOfBuilding,SubtypeOfProperty,SurfaceOfPlot,SwimmingPool,Terrace,ToiletCount,TypeOfProperty,TypeOfSale
0,https://www.immoweb.be/en/classified/apartment...,1.0,1,1969.0,Belgium,Brugge,NaN,NaN,NaN,NaN,NaN,NaN,29.0,Zeebrugge,NaN,NaN,NaN,8380,99000,10957010,West Flanders,Flanders,1.0,0.0,GOOD,flat_studio,NaN,NaN,1.0,1.0,2,residential_sale
1,https://www.immoweb.be/en/classified/house/for...,6.0,13,1920.0,Belgium,Tournai,NaN,NaN,0.0,NaN,NaN,NaN,391.0,Tournai,NaN,3.0,D,7500,765000,10956841,Hainaut,Wallonie,31.0,NaN,GOOD,apartment_block,130.0,NaN,NaN,5.0,1,residential_sale
2,https://www.immoweb.be/en/classified/house/for...,2.0,4,2008.0,Belgium,Brugge,NaN,NON_FLOOD_ZONE,1.0,NaN,NaN,INSTALLED,111.0,BLANKENBERGE,NaN,2.0,B,8370,399000,10956807,West Flanders,Flanders,NaN,0.0,GOOD,house,0.0,NaN,NaN,2.0,1,residential_sale
3,https://www.immoweb.be/en/classified/house/for...,1.0,4,NaN,Belgium,Veurne,NaN,NaN,NaN,1.0,1.0,NaN,NaN,De Panne,NaN,2.0,F,8660,230000,10956664,West Flanders,Flanders,NaN,NaN,TO_BE_DONE_UP,house,170.0,0.0,1.0,2.0,1,residential_sale
4,https://www.immoweb.be/en/classified/apartment...,0.0,2,1972.0,Belgium,Hasselt,NaN,NON_FLOOD_ZONE,NaN,NaN,NaN,NaN,92.0,Hasselt,NaN,NaN,B,3500,198000,10956668,Limburg,Flanders,1.0,0.0,AS_NEW,apartment,NaN,NaN,1.0,1.0,2,residential_sale

In [21]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [22]:
df.head()

,Url,BathroomCount,BedroomCount,ConstructionYear,Country,District,Fireplace,FloodingZone,Furnished,Garden,GardenArea,Kitchen,LivingArea,Locality,MonthlyCharges,NumberOfFacades,PEB,PostalCode,Price,PropertyId,Province,Region,RoomCount,ShowerCount,StateOfBuilding,SubtypeOfProperty,SurfaceOfPlot,SwimmingPool,Terrace,ToiletCount,TypeOfProperty,TypeOfSale
0,https://www.immoweb.be/en/classified/apartment...,1.0,1,1969.0,Belgium,Brugge,NaN,NaN,NaN,NaN,NaN,NaN,29.0,Zeebrugge,NaN,NaN,NaN,8380,99000,10957010,West Flanders,Flanders,1.0,0.0,GOOD,flat_studio,NaN,NaN,1.0,1.0,2,residential_sale
1,https://www.immoweb.be/en/classified/house/for...,6.0,13,1920.0,Belgium,Tournai,NaN,NaN,0.0,NaN,NaN,NaN,391.0,Tournai,NaN,3.0,D,7500,765000,10956841,Hainaut,Wallonie,31.0,NaN,GOOD,apartment_block,130.0,NaN,NaN,5.0,1,residential_sale
2,https://www.immoweb.be/en/classified/house/for...,2.0,4,2008.0,Belgium,Brugge,NaN,NON_FLOOD_ZONE,1.0,NaN,NaN,INSTALLED,111.0,BLANKENBERGE,NaN,2.0,B,8370,399000,10956807,West Flanders,Flanders,NaN,0.0,GOOD,house,0.0,NaN,NaN,2.0,1,residential_sale
3,https://www.immoweb.be/en/classified/house/for...,1.0,4,NaN,Belgium,Veurne,NaN,NaN,NaN,1.0,1.0,NaN,NaN,De Panne,NaN,2.0,F,8660,230000,10956664,West Flanders,Flanders,NaN,NaN,TO_BE_DONE_UP,house,170.0,0.0,1.0,2.0,1,residential_sale
4,https://www.immoweb.be/en/classified/apartment...,0.0,2,1972.0,Belgium,Hasselt,NaN,NON_FLOOD_ZONE,NaN,NaN,NaN,NaN,92.0,Hasselt,NaN,NaN,B,3500,198000,10956668,Limburg,Flanders,1.0,0.0,AS_NEW,apartment,NaN,NaN,1.0,1.0,2,residential_sale

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118714 entries, 0 to 118713
Data columns (total 32 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Url                118714 non-null  object
 1   BathroomCount      109112 non-null  float64
 2   BedroomCount       118714 non-null  int64
 3   ConstructionYear   68898 non-null   float64
 4   Country            118714 non-null  object
 5   District           118707 non-null  object
 6   Fireplace          4123 non-null    float64
 7   FloodingZone       58342 non-null   object
 8   Furnished          30325 non-null   float64
 9   Garden             22503 non-null   float64
 10  GardenArea         22503 non-null   float64
 11  Kitchen            67134 non-null   object
 12  LivingArea         104539 non-null  float64
 13  Locality           118709 non-null  object
 14  MonthlyCharges     13650 non-null   float64
 15  NumberOfFacades    76942 non-null   float64
 16  PEB                85074 non-null   object
 17  PostalCode         118714 non-null  int64
 18  Price              118714 non-null  int64
 19  PropertyId         118714 non-null  int64
 20  Province           118707 non-null  object
 21  Region             118707 non-null  object
 22  RoomCount          32916 non-null   float64
 23  ShowerCount        57127 non-null   float64
 24  StateOfBuilding    81622 non-null   object
 25  SubtypeOfProperty  118714 non-null  object
 26  SurfaceOfPlot      58237 non-null   float64
 27  SwimmingPool       40358 non-null   float64
 28  Terrace            68344 non-null   float64
 29  ToiletCount        96441 non-null   float64
 30  TypeOfProperty     118714 non-null  int64
 31  TypeOfSale         118714 non-null  object
dtypes: float64(15), int64(5), object(12)
memory usage: 29.0+ MB

In [24]:
df.columns = df.columns.str.lower()

In [25]:
df.columns

Index(['url', 'bathroomcount', 'bedroomcount', 'constructionyear', 'country',
       'district', 'fireplace', 'floodingzone', 'furnished', 'garden',
       'gardenarea', 'kitchen', 'livingarea', 'locality', 'monthlycharges',
       'numberoffacades', 'peb', 'postalcode', 'price', 'propertyid',
       'province', 'region', 'roomcount', 'showercount', 'stateofbuilding',
       'subtypeofproperty', 'surfaceofplot', 'swimmingpool', 'terrace',
       'toiletcount', 'typeofproperty', 'typeofsale'],
      dtype='object')

In [26]:
df = df.drop(['url', 'country'], axis= 1)

#  **1.WITH OUTLIERS**

In [27]:
def null_valuecounts(col):
    print(f"{col} --> {round(df[col].isna().mean(), 2)}")
    # display(df[col].value_counts(dropna = False))

In [28]:
def more_than_80_percent(col):
    percent = round(df[col].isna().mean(), 2)
    if percent > 0.5:
        print(f"{col} ==> {percent}")

for i in df.columns:
    more_than_80_percent(i)

fireplace ==> 0.97
floodingzone ==> 0.51
furnished ==> 0.74
garden ==> 0.81
gardenarea ==> 0.81
monthlycharges ==> 0.89
roomcount ==> 0.72
showercount ==> 0.52
surfaceofplot ==> 0.51
swimmingpool ==> 0.66

In [29]:
df.columns

Index(['bathroomcount', 'bedroomcount', 'constructionyear', 'district',
       'fireplace', 'floodingzone', 'furnished', 'garden', 'gardenarea',
       'kitchen', 'livingarea', 'locality', 'monthlycharges',
       'numberoffacades', 'peb', 'postalcode', 'price', 'propertyid',
       'province', 'region', 'roomcount', 'showercount', 'stateofbuilding',
       'subtypeofproperty', 'surfaceofplot', 'swimmingpool', 'terrace',
       'toiletcount', 'typeofproperty', 'typeofsale'],
      dtype='object')

In [30]:
df.kitchen.value_counts()

kitchen
INSTALLED             32623
HYPER_EQUIPPED        19773
SEMI_EQUIPPED          7810
NOT_INSTALLED          3897
USA_HYPER_EQUIPPED     1438
USA_INSTALLED          1288
USA_SEMI_EQUIPPED       201
USA_UNINSTALLED         104
Name: count, dtype: int64

In [31]:
kitchen_mapping = {
    'USA_HYPER_EQUIPPED': 'HYPER_EQUIPPED',
    'USA_INSTALLED': 'INSTALLED',
    'USA_UNINSTALLED': 'NOT_INSTALLED',
    'USA_SEMI_EQUIPPED': 'SEMI_EQUIPPED',
}

df['kitchen'] =df.kitchen.replace(kitchen_mapping)
df.kitchen.value_counts(dropna=False)

kitchen
NaN               51580
INSTALLED         33911
HYPER_EQUIPPED    21211
SEMI_EQUIPPED      8011
NOT_INSTALLED      4001
Name: count, dtype: int64

In [32]:
state_scaler= [None,"TO_BE_DONE_UP","TO_RESTORE","TO_RENOVATE","GOOD","JUST_RENOVATED","AS_NEW"]
peb_scaler = [None, 'G_F', 'G_C', 'G', 'F_E', 'F_D', 'F_C', 'F', 'E_D', 'E_C', 'E', 'D', 'C', 'B_A', 'B', 'A', 'A_A+', 'A+', 'A++']
kitchen_scaler = [None, 'NOT_INSTALLED', 'SEMI_EQUIPPED', 'HYPER_EQUIPPED', 'INSTALLED']

In [33]:
target = ['price']
int_cols = ['typeofproperty', 'typeofsale', 'bedroomcount', 'bathroomcount', 'constructionyear']
bool_cols = ['garden', 'terrace', 'swimmingpool']
float_cols = ['livingarea', 'gardenarea']
ordinal = ['stateofbuilding', 'peb', 'kitchen' ]
categorical =['subtypeofproperty', 'province']

cols_to_keep = target + int_cols +bool_cols + float_cols + ordinal + categorical

len(cols_to_keep)

16

In [34]:
preprocessor = ColumnTransformer(
    transformers = [
        ('int_col', SimpleImputer(strategy="most_frequent"), int_cols),
        ('float_col', SimpleImputer(strategy="mean"), float_cols),
        ('bool_col', SimpleImputer(strategy='constant', fill_value=0.0), bool_cols),
        ("ordinal_col", OrdinalEncoder(categories=[state_scaler, peb_scaler, kitchen_scaler], handle_unknown="use_encoded_value", unknown_value=-1), ordinal),
        ('categorical_col', OneHotEncoder(sparse_output= False), categorical)
    ],
    remainder='passthrough'
)

X = preprocessor.fit_transform(df[cols_to_keep])
df_preprocessed = pd.DataFrame(X, columns = preprocessor.get_feature_names_out())
df_preprocessed.head()

,int_col__typeofproperty,int_col__typeofsale,int_col__bedroomcount,int_col__bathroomcount,int_col__constructionyear,float_col__livingarea,float_col__gardenarea,bool_col__garden,bool_col__terrace,bool_col__swimmingpool,ordinal_col__stateofbuilding,ordinal_col__peb,ordinal_col__kitchen,categorical_col__subtypeofproperty_apartment,categorical_col__subtypeofproperty_apartment_block,categorical_col__subtypeofproperty_bungalow,categorical_col__subtypeofproperty_castle,categorical_col__subtypeofproperty_chalet,categorical_col__subtypeofproperty_country_cottage,categorical_col__subtypeofproperty_duplex,categorical_col__subtypeofproperty_exceptional_property,categorical_col__subtypeofproperty_farmhouse,categorical_col__subtypeofproperty_flat_studio,categorical_col__subtypeofproperty_ground_floor,categorical_col__subtypeofproperty_house,categorical_col__subtypeofproperty_kot,categorical_col__subtypeofproperty_loft,categorical_col__subtypeofproperty_manor_house,categorical_col__subtypeofproperty_mansion,categorical_col__subtypeofproperty_mixed_use_building,categorical_col__subtypeofproperty_other_property,categorical_col__subtypeofproperty_pavilion,categorical_col__subtypeofproperty_penthouse,categorical_col__subtypeofproperty_service_flat,categorical_col__subtypeofproperty_show_house,categorical_col__subtypeofproperty_town_house,categorical_col__subtypeofproperty_triplex,categorical_col__subtypeofproperty_villa,categorical_col__province_Antwerp,categorical_col__province_Brussels,categorical_col__province_East Flanders,categorical_col__province_Flemish Brabant,categorical_col__province_Hainaut,categorical_col__province_Limburg,categorical_col__province_Li√®ge,categorical_col__province_Luxembourg,categorical_col__province_Namur,categorical_col__province_Walloon Brabant,categorical_col__province_West Flanders,categorical_col__province_nan,remainder__price
0,2,residential_sale,1,1.0,1969.0,29.0,45099.596676,0.0,1.0,0.0,4.0,-1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,99000
1,1,residential_sale,13,6.0,1920.0,391.0,45099.596676,0.0,0.0,0.0,4.0,11.0,-1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,765000
2,1,residential_sale,4,2.0,2008.0,111.0,45099.596676,0.0,0.0,0.0,4.0,14.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,399000
3,1,residential_sale,4,1.0,2024.0,167.396417,1.0,1.0,1.0,0.0,1.0,7.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,230000
4,2,residential_sale,2,0.0,1972.0,92.0,45099.596676,0.0,1.0,0.0,6.0,14.0,-1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,198000

In [35]:
df_preprocessed.shape

(118714, 51)

In [ ]:
df_preprocessed.isna().sum()